body {
	margin: 0;
	background-color: rgb(224,229,236);
    color: #333;
    font-family: "等线" , "微软雅黑" , yahei;
}

.main{
    margin: 100px auto 100px;
	background-color: rgb(224, 229, 236);
	box-shadow: rgba(163, 177, 198, 0.5) 12px -12px 24px 0px, rgb(255, 255, 255) -12px 12px 24px 0px;
	-webkit-box-shadow: rgba(163, 177, 198, 0.5) 12px -12px 24px 0px, rgb(255, 255, 255) -12px 12px 24px 0px;
	border-radius: 43px;
	-webkit-border-radius: 43px;
    width: 800px;
	min-width: 500px;
	padding:40px;
}

h1{
    margin: 0;
    border: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 37px;
    font-weight: 550;
}

footer{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 12px;
    color:rgb(192, 192, 192);
    text-align: center;
}

footer>a{
    font-size: 14px;
    color:rgb(192, 192, 192);
}