p{
    font-size: 16px;
    line-height: 24px;
}

#board{
    padding: 5px 20px;
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
border-radius: 13px;
-webkit-border-radius: 13px;
	border: 0;
    margin: 27px auto;
}

h3{
    margin: 15px auto;
}

div.fs {
    float: left;
    font-size: 18px;
    line-height: 36px;
    margin-right: 60px;
}

dt{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}

dd{
    margin-inline-start: 2em;
}

div.logo{
    margin-top: 100px;
}