div#modify{
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px inset, rgb(255, 255, 255) -10px -10px 20px 0px inset;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px inset, rgb(255, 255, 255) -10px -10px 20px 0px inset;
border-radius: 48px;
-webkit-border-radius: 48px;
    font-size: 21.5px;
}

table{
    border-collapse: separate;
    border-spacing: 10px;
}

.infoinput{
    font-size: 14px;
    line-height: 28px;
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
border-radius: 13px;
-webkit-border-radius: 13px;
        border: 0;
        height: 28px;
        text-align: center;
        margin-left: auto;
    width: 16em;
}

td.tip{
    font-size: 13px;
    color: rgb(128,128,128);
    text-indent: 1.5em;
}

select{
    margin-left: 6px;
}

input.re1,input.re2{
    font-size: 14px;
    line-height: 28px;
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
border-radius: 13px;
-webkit-border-radius: 13px;
        border: 0;
        height: 28px;
        text-align: center;
        margin-left: auto;
}

input.re1{
    width: 10em;
}
input.re2{
    width: 25em;
}

.btn {
    background-color: rgb(224, 229, 236);
    box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px, rgb(255, 255, 255) -10px -10px 20px 0px;
    -webkit-box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px, rgb(255, 255, 255) -10px -10px 20px 0px;
    border-radius: 48px;
    -webkit-border-radius: 48px;
	border: 0;
	height: 40px;
	width: 80px;
    font-size: 16px;
	margin: 0 50px;
}

.btn:active {
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px inset, rgb(255, 255, 255) -10px -10px 20px 0px inset;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 10px 10px 20px 0px inset, rgb(255, 255, 255) -10px -10px 20px 0px inset;
border-radius: 48px;
-webkit-border-radius: 48px;
	border: 0;
    font-size: 15.5px;
}

.btn:hover{
	background-color: rgb(200, 200, 200);
}

.obtn {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}